<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu Editions Bellus</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'components/dropdown-menu.html' %}
<div class="container">
    <h1>Menu Editions Bellus</h1>

    <a href="/menu-reset-bdd" class="btn btn-secondary">⚠️ Reset BDD</a>
    <a href="/affichage/" class="btn btn-secondary">Affichage</a>
    <a href="/process/" class="btn btn-secondary">Processus</a>
    <a href="/pdfs/" class="btn btn-secondary">PDF</a>

</div>
{% include "components/status.html" %}
</body>
</html>