<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Affichage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'components/dropdown-menu.html' %}
<div class="container">
    <h1>Menu Affichage</h1>

    <a href="./fiche-cadrage/" class="btn btn-secondary">Fiche Cadrage</a>
    <a href="./websearch/" class="btn btn-secondary">Recherches Web</a>
    <a href="./plandetails/" class="btn btn-secondary">Plan</a>
    <a href="./structure/" class="btn btn-secondary">Structure</a>
    <a href="./introduction/" class="btn btn-secondary">Introduction</a>
    <a href="./sections-texte/" class="btn btn-secondary">Contenu Sections</a>
    <a href="./conclusion/" class="btn btn-secondary">Conclusion</a>
</div>
{% include 'components/status.html' %}
</body>
</html>